.flow-tree-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  box-sizing: border-box;
}

.flow-tree-wrapper.fullscreen {
  height: 100vh;
}

.flow-tree-wrapper *,
.flow-tree-wrapper *::before,
.flow-tree-wrapper *::after {
  box-sizing: border-box;
}